<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="plugins/jquery-3.3.1.min.js"></script>
</head>
<body>
<p style="text-align: center;">welcome to login</p>
<form  style="box-shadow: 0 0 5px #ccc;line-height: 50px;text-align: center;margin: 0 auto;">
    <input id="username" type="text" placeholder="请输入用户名"><br>
    <input id="password" type="password" placeholder="请输入密码"><br>
    <button type="submit">登录</button>
</form>
</body>
<script>
    $(function () {
        $('button').click(function (event) {
            event.preventDefault();
            let data = {
                name: $('#username').val(),
                password: $('#password').val()
            }
            console.log(data)
            $.ajax({
                url: '/login',
                type: 'POST',
                data: data
            }).then((res) => {
                console.log(res);
            }).catch((err) => {
                console.log(err);
            })
        })
    })
</script>
</html>